In [1]:
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# EDA

In [ ]:
# Master each year
MA_enroll = pd.read_csv('../Data/MA_enrollment.csv')
MA_enroll = MA_enroll[MA_enroll['opleiding'] == 'COSC']
MA_enroll.groupby('cohort').sum()

In [ ]:
# clean the program keys
MA_enroll['bachelor'] = MA_enroll['bachelor'].apply(lambda x:'NAST' if 'NAST' in x else x)
#MA_enroll['bachelor'] = MA_enroll['bachelor'].apply(lambda x:'INCA' if 'INCA' in x else x)
MA_enroll['bachelor'] = MA_enroll['bachelor'].apply(lambda x:'INCA' if 'INKU' in x else x)
MA_enroll['bachelor'] = MA_enroll['bachelor'].apply(lambda x:'non-UU' if '-' in x else x)
MA_enroll

In [ ]:
years = MA_enroll['cohort'].unique()
df = MA_enroll
year_counts = []
for year in years:
    meta = {}
    subset = df.loc[(df['cohort'] == year)]
    meta['Year'] = year
    meta['Total_MA'] = subset['aantal'].sum()

    for row in subset['bachelor']:
        meta[row] = (subset[subset['bachelor'] == row])['aantal'].sum()

    year_counts.append(meta)
Meta = pd.DataFrame(year_counts).sort_values(['Year'])
Meta['UU_perc'] = (Meta['Total_MA'] - Meta['non-UU'])/Meta['Total_MA']
#Meta['MA_INs'] = Meta['INCA'] + Meta['INKU']
Meta.sort_values('Year')

# Nation table

In [2]:
nation = pd.read_csv('../Data/levering 2021/Dec_nationaliteitscode.csv', header=None)

nation[0].str.split(" ", n = 1, expand = True)
nation['code'] = nation[0].str[:4]
nation

                                                     0  code
0    0000Onbekend                                  ...  0000
1    0001Nederlandse                               ...  0001
2    0002Behandeld als Nederlander                 ...  0002
3    0027Slowaakse                                 ...  0027
4    0028Tsjechische                               ...  0028
..                                                 ...   ...
213  0454Servische                                 ...  0454
214  0455Montenegrijnse                            ...  0455
215  0499Staatloos                                 ...  0499
216  0500Vastgesteld niet-Nederlander              ...  0500
217  9000Afgeleide bijzonder Nederlanderschap      ...  9000

[218 rows x 2 columns]

In [3]:
region = []
for row in nation[0]:
    if row.find('0000') == 0 :    region.append('0') #Na
    elif row.find('Nederland')>0 :    region.append('1') #NL
    elif row.find('Europa')>0 :    region.append('2') #EEA
    else:           region.append('3') #International

nation['region'] = region
nation

                                                     0  code region
0    0000Onbekend                                  ...  0000      0
1    0001Nederlandse                               ...  0001      1
2    0002Behandeld als Nederlander                 ...  0002      1
3    0027Slowaakse                                 ...  0027      2
4    0028Tsjechische                               ...  0028      2
..                                                 ...   ...    ...
213  0454Servische                                 ...  0454      2
214  0455Montenegrijnse                            ...  0455      2
215  0499Staatloos                                 ...  0499      3
216  0500Vastgesteld niet-Nederlander              ...  0500      1
217  9000Afgeleide bijzonder Nederlanderschap      ...  9000      1

[218 rows x 3 columns]

# Herkmsot B to M

In [227]:
df = pd.read_excel("Data/master_bachelor_herkomst_uu.xlsx")
df2 = df[df['opleiding'] == 'COSC']
Sep = df2[df2['ingangsdatum'].astype(str).str.contains('09-01')]
Feb = df2[df2['ingangsdatum'].astype(str).str.contains('02-01')]
all = df2.groupby(['cohort']).sum()
all

        aantal  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11
cohort
2011        35         0.0         0.0          0.0          0.0
2012        30         0.0         0.0          0.0          0.0
2013        41         0.0         0.0          0.0          0.0
2014        54         0.0         0.0          0.0          0.0
2015        39         0.0         0.0          0.0          0.0
2016        40         0.0         0.0          0.0          0.0
2017        40         0.0         0.0          0.0          0.0
2018        84         0.0         0.0          0.0          0.0
2019        64         0.0         0.0          0.0          0.0
2020        70         0.0         0.0          0.0          0.0
2021        82         0.0         0.0          0.0          0.0

# EOIcohort_VSNU_2020

In [13]:
VNSU = pd.read_csv('../Data/levering 2021/EOIcohort_VSNU_2020.csv',sep=';', header = None)
VNSU.sort_values([1]).tail()
#1904037
enrolls = pd.merge(VNSU, nation, left_on=[66], right_on=['code'])
enrolls = enrolls[[1,2,3,4,6,7,46,50,'region']]
MA_enrolls = enrolls[enrolls[7] == 'M']
MA_enrolls = MA_enrolls[MA_enrolls[46] == 1] #first-year registration
BA_enrolls = enrolls[enrolls[7] == 'B']

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (28,29,30,31,32,33,37,41,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [213]:
VNSU = pd.read_csv('../Data/levering 2021/EOIcohort_VSNU_2020.csv',sep=';', header = None)
VNSU.sort_values([1]).tail()
#1904037
enrolls = pd.merge(VNSU, nation, left_on=[66], right_on=['code'])
MA_enrolls = enrolls[enrolls[7] == 'M']
MA_enrolls = MA_enrolls[MA_enrolls[46] == 1] #first-year registration
MA_enrolls

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (28,29,30,31,32,33,37,41,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0_x,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,0_y,code,region
3,63549,2020,21PB,60416,60416,41301.0,8,M,V,1,...,1,36,0001,2019,12,,1,0001Nederlandse ...,0001,1
4,72329,2014,21PL,66627,66627,41301.0,8,M,V,2,...,1,32,0001,2014,0,,1,0001Nederlandse ...,0001,1
5,98730,2014,21PN,66725,66725,31402.0,0,M,V,1,...,2,31,0001,2014,0,,1,0001Nederlandse ...,0001,1
6,110945,2020,21PL,66627,66627,41301.0,8,M,V,2,...,1,38,0001,2020,0,,1,0001Nederlandse ...,0001,1
8,117986,2020,21PE,60452,60452,42101.0,7,M,V,1,...,1,44,0001,2017,0,,1,0001Nederlandse ...,0001,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1434132,306769995,2006,21PL,66986,66986,53201.0,3,M,V,1,...,2,24,0453,2006,0,,1,0453Burger van Servi� en Montenegro ...,0453,2
1434133,306770202,2006,21PJ,69303,69303,31403.0,8,M,V,1,...,2,31,0453,2006,0,00,1,0453Burger van Servi� en Montenegro ...,0453,2
1434134,308081432,2010,21PK,60901,60901,41305.0,6,M,V,1,...,1,22,0453,2010,0,,1,0453Burger van Servi� en Montenegro ...,0453,2
1434140,304058603,2009,21PN,60224,60073,42102.0,7,M,V,1,...,2,30,0002,2000,0,,1,0002Behandeld als Nederlander ...,0002,1
1434146,306234692,2008,21PN,66451,66451,42101.0,7,M,V,2,...,1,54,0002,2008,0,,1,0002Behandeld als Nederlander ...,0002,1

In [221]:
#MA_enrolls[(MA_enrolls[2] == '21PD') & (MA_enrolls[4]==66978)& (MA_enrolls[43]==56978)& (MA_enrolls[41]=='21PD')]
MA_enrolls =MA_enrolls.fillna(0)

In [222]:
def caculate_enroll_MA_pre_education(school_code, program_code):
    """
    calculate the number of gradated BA students in each program each year
    """
    df = MA_enrolls[(MA_enrolls[2] == school_code) & (MA_enrolls[4]==66978)]

    year_counts = []
    for year in df[1].unique():
        statuses = {}
        subset = df.loc[(df[1] == year)]
        #subset = df.loc[(df[1] == year)]
        statuses["Year"] = year
        for i in program_code:
            statuses[i] = len(subset[subset[43].astype(int) == i])

        year_counts.append(statuses)
    dfml = pd.DataFrame(year_counts).sort_values(['Year'])
    return(dfml)
MA_pre_education = caculate_enroll_MA_pre_education('21PD',[56980,56978,56984,56981,56842])
MA_pre_education

    Year  56980  56978  56984  56981  56842
15  2002      0      0      0      0      0
14  2003      0      0      0      0      0
18  2004      1      0      0      0      0
16  2005      0     16      0      1      0
17  2006      0     39      0      2      0
10  2007      0     28      0      1      0
8   2008      0     11      0      2      0
6   2009      0      9      0      2      1
9   2010      0      5      0      2      0
5   2011      0      7      1      4      0
4   2012      0      7      0      4      1
7   2013      1     23      0      1      1
0   2014      1     20      0      1      0
2   2015      0     28      0      0      0
12  2016      0     36      0      4      0
13  2017      3     21      1      1      2
1   2018      0     42      2      2      0
3   2019      0     41      0      3      1
11  2020      1     30      0      7      2

In [30]:
def caculate_enroll_MA(school_code, program_code):
    """
    calculate the number of new enrollment MA student in CS each year

    """
    df = MA_enrolls[(MA_enrolls[2] == school_code) & (MA_enrolls[4]==program_code)]
    year_counts = []
    for year in df[1].unique():
        statuses = {}
        subset = df.loc[(df[1] == year)]
        statuses["Year"] = year
        statuses["Total_MA"] = subset['region'].count()
        for i in range(1, 4):
            statuses[i] = len(subset[subset['region'].astype(int) == i]) #region
        year_counts.append(statuses)
    dfml = pd.DataFrame(year_counts).rename(columns={1:'MA_NL',2:'MA_EEA',3:'MA_others'}).sort_values(['Year'])
    return(dfml)

In [31]:
MAcheck = caculate_enroll_MA('21PD', 66978)
MAcheck

    Year  Total_MA  MA_NL  MA_EEA  MA_others
15  2002         8      6       1          1
14  2003        16     14       0          2
18  2004        23     17       4          2
16  2005        42     35       3          4
17  2006        77     71       4          2
10  2007        57     49       4          4
8   2008        29     18       9          2
6   2009        42     28      12          2
9   2010        29     16      12          1
5   2011        43     21      18          4
4   2012        31     19      11          1
7   2013        41     26      13          2
0   2014        35     28       6          1
2   2015        46     33       9          4
12  2016        61     48       9          4
13  2017        50     33      11          6
1   2018        78     56      12         10
3   2019        70     57       6          7
11  2020        65     57       4          4

## The BA Gediplomeerdencohort

In [32]:
grad_VSNU = pd.read_csv('../Data/levering 2021/Gediplomeerdencohort_VSNU_2020.csv',sep=';', header = None)
grad_VSNU = grad_VSNU.sort_values([1])# 1168331
# [3]==school
# [7]==4:tech, 3:nature

# [8]==B
# [31]== gender
# [33]== nation

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
grad_VSNU = grad_VSNU.sort_values([1])
grads = grad_VSNU[(grad_VSNU[7] == 4) | (grad_VSNU[7] == 3)]
grads = pd.merge(grads, nation, left_on=[33], right_on=['code'])
grads = grads[[1,2,3,5,8,7,17,18,19,'region']]
MA_grads = grads[grads[8] == 'M']
BA_grads = grads[grads[8] == 'B']

In [201]:
def caculate_grad_BA_numbers(school_code, program_code):
    """
    calculate the number of gradated BA students in each program each year
    """
    df = BA_grads[(BA_grads[3] == school_code)]

    year_counts = []
    for year in df[1].unique():
        statuses = {}
        subset = df.loc[(df[1] == year)]
        #subset = df.loc[(df[1] == year)]
        statuses["Year"] = year
        for i in program_code:
            statuses[i] = len(subset[subset[5].astype(int) == i])

        year_counts.append(statuses)
    dfml = pd.DataFrame(year_counts).sort_values(['Year'])
    return(dfml)

In [202]:
BAcheck = caculate_grad_BA_numbers('21PD',[56980,56978,56984,56981,56842])
BAcheck

    Year  56980  56978  56984  56981  56842
0   2002      3      1      4      8      1
1   2003      5      8      7      0      9
2   2004     12     38     35     14     22
3   2005     36     84     48     37     36
4   2006     39     69     62     45     38
5   2007     19     21     21      4     12
6   2008     33     29     46     20     21
7   2009     42     48     72     22     33
8   2010     37     34     37     11     17
9   2011     50     41     38     14     30
10  2012     76     52     65     26     23
11  2013     70     79     63     12     24
12  2014     64     91     57     14     28
13  2015     96    110     83     22     49
14  2016     57     96     62     33     77
15  2017     82    120     65     33    101
16  2018     82    120     71     47    116
17  2019     72    103     90     78     97

In [37]:
def caculate_grad_BA_region(school_code, program_code):
    """
    calculate the number of gradated BA students from different countries each year
    """
    df = BA_grads[(BA_grads[2] < 10) &(BA_grads[3] == school_code)  & (BA_grads[5].astype(int) == program_code)]
    year_counts = []
    for year in df[1].unique():
        statuses = {}
        subset = df.loc[(df[1] == year)]
        statuses["Year"] = year
        statuses["BA_Total"] = subset['region'].count()
        for i in range(1, 4):
            statuses[i] = len(subset[subset['region'].astype(int) == i]) #region
        statuses["BtoM"] = len(subset[subset[17].astype(int) == 1]) # same school
        year_counts.append(statuses)
    dfml = pd.DataFrame(year_counts).rename(columns={1:'BA_NL',2:'BA_EEA',3:'BA_others'}).sort_values(['Year'])
    return(dfml)

In [38]:
BAcheck = caculate_grad_BA_region('21PD', 56980)
BAcheck

    Year  BA_Total  BA_NL  BA_EEA  BA_others  BtoM
0   2002         3      3       0          0     3
1   2003         5      5       0          0     3
2   2004        12     11       1          0    10
3   2005        34     34       0          0    29
4   2006        38     37       0          1    30
5   2007        16     15       1          0    12
6   2008        31     30       1          0    27
7   2009        40     40       0          0    35
8   2010        35     35       0          0    30
9   2011        48     46       2          0    34
10  2012        75     73       2          0    58
11  2013        69     68       1          0    46
12  2014        61     61       0          0    47
13  2015        88     87       1          0    59
14  2016        53     53       0          0    41
15  2017        80     79       1          0    56
16  2018        80     79       1          0    51
17  2019        71     70       1          0    45

### caculate the regions

In [54]:
"""
21PH=[59336,56066,56962,59335,56953]
21PF=[56965,56964,56962,56953]
21PB=[56980,56978,50205,50206]
21PD=[56980,56978,56984,56981,56842]
"""
from functools import reduce
school_count = []
for program in [59336,56066,56962,56953]:
    BAcheck = pd.DataFrame(caculate_grad_BA_region('21PH', program))
    school_count.append(BAcheck)
check = reduce(lambda  left,right: pd.merge(left,right,on=['Year'], how='outer'), school_count).fillna('0').astype(int)

check['all_NL']=check['BA_NL_x'].sum(axis=1) + check['BA_NL_y'].sum(axis=1)
check['all_EEA']=check['BA_EEA_x'].sum(axis=1) + check['BA_EEA_y'].sum(axis=1)
check['all_others']=check['BA_others_x'].sum(axis=1) + check['BA_others_y'].sum(axis=1)
check['all_BtoM']=check['BtoM_x'].sum(axis=1) + check['BtoM_y'].sum(axis=1)

"""
check['all_NL']=check['1_x'].sum(axis=1) + check['1_y'].sum(axis=1) + check[1]
check['all_EEA']=check['2_x'].sum(axis=1) + check['2_y'].sum(axis=1) + check[2]
check['all_others']=check['3_x'].sum(axis=1) + check['3_y'].sum(axis=1) + check[3]
check['all_BtoM']=check['BtoM_x'].sum(axis=1) + check['BtoM_y'].sum(axis=1) + check['BtoM']
"""

#check['sum']=check.iloc[:,1:6].astype(int).sum(axis=1)
check[['Year','all_NL','all_EEA','all_others','all_BtoM']].sort_values(['Year']).tail()

    Year  all_NL  all_EEA  all_others  all_BtoM
14  2015      78        4           1        68
15  2016      99        2           2        93
16  2017      87        5           8        78
0   2018     108        9           5       101
1   2019      98       17           4        92

In [198]:
#.to_csv('__.csv',index='Year')

In [205]:
info = pd.read_csv('/Users/xutingxuan/Desktop/MSc ADS/Thesis/Code/data/VSNU_training.csv')

In [207]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  40 non-null     int64
 1   BA_Math               40 non-null     int64
 2   BA_Informatica        40 non-null     int64
 3   BA_Physics_Astronomy  40 non-null     int64
 4   BA_AI                 40 non-null     int64
 5   BA_NL                 40 non-null     int64
 6   BA_EEA                40 non-null     int64
 7   BA_others             40 non-null     int64
 8   BAtoMA                40 non-null     int64
 9   MA_CS                 40 non-null     int64
dtypes: int64(10)
memory usage: 3.2 KB